@font-face { font-family: 'Roboto'; src: url("../fonts/Roboto-Light-webfont.eot"); src: url("../fonts/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light-webfont.woff") format("woff"), url("../fonts/Roboto-Light-webfont.ttf") format("truetype"), url("../fonts/Roboto-Light-webfont.svg#RobotoLight") format("svg"); font-weight: 300; font-style: normal; }

@font-face { font-family: 'Roboto'; src: url("../fonts/Roboto-Regular-webfont.eot"); src: url("../fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular-webfont.woff") format("woff"), url("../fonts/Roboto-Regular-webfont.ttf") format("truetype"), url("../fonts/Roboto-Regular-webfont.svg#RobotoRegular") format("svg"); font-weight: 400; font-style: normal; }

@font-face { font-family: 'Roboto'; src: url("../fonts/Roboto-Bold-webfont.eot"); src: url("../fonts/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold-webfont.woff") format("woff"), url("../fonts/Roboto-Bold-webfont.ttf") format("truetype"), url("../fonts/Roboto-Bold-webfont.svg#RobotoBold") format("svg"); font-weight: 700; font-style: normal; }

@font-face { font-family: 'Roboto'; src: url("../fonts/Roboto-LightItalic-webfont.eot"); src: url("../fonts/Roboto-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-LightItalic-webfont.woff") format("woff"), url("../fonts/Roboto-LightItalic-webfont.ttf") format("truetype"), url("../fonts/Roboto-LightItalic-webfont.svg#RobotoLightItalic") format("svg"); font-weight: 300; font-style: italic; }

@font-face { font-family: 'Roboto'; src: url("../fonts/Roboto-Italic-webfont.eot"); src: url("../fonts/Roboto-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Italic-webfont.woff") format("woff"), url("../fonts/Roboto-Italic-webfont.ttf") format("truetype"), url("../fonts/Roboto-Italic-webfont.svg#RobotoItalic") format("svg"); font-weight: 400; font-style: italic; }

@font-face { font-family: 'Roboto'; src: url("../fonts/Roboto-BoldItalic-webfont.eot"); src: url("../fonts/Roboto-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-BoldItalic-webfont.woff") format("woff"), url("../fonts/Roboto-BoldItalic-webfont.ttf") format("truetype"), url("../fonts/Roboto-BoldItalic-webfont.svg#RobotoBoldItalic") format("svg"); font-weight: 700; font-style: italic; }

@font-face { font-family: 'Source Code Pro'; src: url("../fonts/sourcecodepro-regular-webfont.eot"); src: url("../fonts/sourcecodepro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcecodepro-regular-webfont.woff") format("woff"), url("../fonts/sourcecodepro-regular-webfont.ttf") format("truetype"), url("../fonts/sourcecodepro-regular-webfont.svg#sourcecodeproregular") format("svg"); font-weight: 400; font-style: normal; }

@font-face { font-family: 'Source Code Pro'; src: url("../fonts/sourcecodepro-bold-webfont.eot"); src: url("../fonts/sourcecodepro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcecodepro-bold-webfont.woff") format("woff"), url("../fonts/sourcecodepro-bold-webfont.ttf") format("truetype"), url("../fonts/sourcecodepro-bold-webfont.svg#sourcecodeprobold") format("svg"); font-weight: 700; font-style: normal; }

html, body, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, .btn, abbr, acronym, address, big, cite, code, kbd, pre, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

b, strong { font-weight: bold; }

i, em { font-style: italic; }

html, body { font-family: "Roboto", "Calibri", "Arial", sans-serif; font-size: 19px; font-weight: 300; }

body { line-height: 1.6; background-color: #F6F6F6; color: #000; margin-top: 45px; }

h1, h2, h3, h4, h5, h6 { line-height: 1; padding: 10px 0px; font-weight: 700; }

h1 { font-size: 2.35em; }

h2 { font-size: 1.6em; }

h3 { font-size: 1.45em; }

h4 { font-size: 1.25em; }

h5 { font-size: 1.08em; }

h6 { font-size: 1em; }

a, .btn { -webkit-transition: .3s all; -o-transition: .3s all; transition: .3s all; text-decoration: none; color: #447F7E; }

a:hover, .btn:hover { cursor: pointer; color: #6B7F7F; }

img { max-width: 100%; height: auto; }

code, kbd, pre { font-family: 'Source Code Pro', 'Courier New', monospace; }

p + p { margin-top: 5px; }

.container { max-width: 1900px; width: 80%; background: transparent; display: block; position: relative; margin: 0px auto; padding: 30px 0; }

.hidden { display: none; }

.btn { background: #447F7E; color: white; font-weight: bold; padding: 7px 18px; border-radius: 2px; position: relative; line-height: 2; margin: 5px; }

.btn:hover { background: #6B7F7F; color: white; }

p + h1, p + h2, p + h3, p + h4 { margin-top: 20px; }

header { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background: #aaaaaa; color: black; width: 100%; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; position: fixed; left: 0; top: 0; z-index: 97; }

header a, header .btn { padding: 0 5px; color: rgba(0, 0, 0, 0.7); -webkit-transition: .3s all ease; -o-transition: .3s all ease; transition: .3s all ease; }

header a:hover, header .btn:hover { color: black; }

.Index, .Dashboard { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 100vh; }

.Index .container, .Dashboard .container { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.Index .middle, .Dashboard .middle { width: 100%; }

.Index .topnav .live, .Index .topnav .site { display: none; }

.droparea { width: 100%; margin: 30px; height: 60vh; border: 2px dashed #b3b3b3; position: relative; }

.droparea div { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); text-align: center; }

h1, h2 { width: 100%; }

.content { width: 100%; }

.info { background: rgba(58, 100, 149, 0.1); padding: 5px; border: 1px solid rgba(58, 100, 149, 0.5); margin: 10px 0; }

.info .svg-inline--fa { margin-right: 5px; }

.tag { background: #fff; color: black; padding: 2px 5px; margin: 5px; border-radius: 3px; }

.popup-open { overflow: hidden; }

.popup-open > section, .popup-open > div:not(.popup), .popup-open > header, .popup-open > footer { -webkit-filter: blur(5px); filter: blur(5px); }

.popup { display: none; width: 80vw; max-width: 1200px; max-height: 80vh; position: fixed; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); background: #fff; color: #000; padding: 20px; -webkit-box-sizing: border-box; box-sizing: border-box; z-index: 99; overflow-y: auto; }

.behind-popup { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.1); z-index: 98; cursor: pointer; }

.tabholder { margin: 20px 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.tabholder p { width: 100%; }

.tabholder > label { background: #dddddd; color: black; width: auto; padding: 5px 10px; cursor: pointer; -webkit-transition: .3s all ease; -o-transition: .3s all ease; transition: .3s all ease; }

.tabholder > label:hover { background: #aaaaaa; color: black; }

.tabholder input[type=radio] { opacity: 0; position: absolute; left: -9999px; }

.tabholder .tab { background: #F6F6F6; color: black; padding: 15px; width: 100%; -webkit-transition: .3s all ease; -o-transition: .3s all ease; transition: .3s all ease; }

.tabholder .wrap label.up { background: #F6F6F6; }

.tabholder #ftp:checked + label { background: #F6F6F6; }

.tabholder #ftp:checked ~ .tab.ftp { display: block; }

.tabholder #ftp ~ .tab.ftp { display: none; }

.tabholder #github:checked + label { background: #F6F6F6; }

.tabholder #github:checked ~ .tab.github { display: block; }

.tabholder #github ~ .tab.github { display: none; }

.tabholder #WYSIWYG:checked + label { background: #F6F6F6; }

.tabholder #WYSIWYG:checked ~ .tab.WYSIWYG { display: block; }

.tabholder #WYSIWYG ~ .tab.markdown, .tabholder #WYSIWYG ~ .tab.HTML { display: none; }

.tabholder #markdown:checked + label { background: #F6F6F6; }

.tabholder #markdown:checked ~ .tab.markdown { display: block; }

.tabholder #markdown ~ .tab.WYSIWYG, .tabholder #markdown ~ .tab.HTML { display: none; }

.tabholder #HTML:checked + label { background: #F6F6F6; }

.tabholder #HTML:checked ~ .tab.HTML { display: block; }

.tabholder #HTML ~ .tab.WYSIWYG, .tabholder #HTML ~ .tab.markdown { display: none; }

input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]) { width: 100%; }

.wrap { position: relative; border: 1px solid #6B7F7F; margin: 15px 0; padding: 10px; -webkit-transition: .3s all ease; -o-transition: .3s all ease; transition: .3s all ease; }

.wrap.focus { border-color: #447F7E; }

.wrap.focus label { color: #447F7E !important; }

.wrap input, .wrap textarea { background: transparent; font-size: 19px; padding: 0; border: 0; }

.wrap textarea { width: 100%; height: 100%; }

.wrap input[type="color"], .wrap input[type="file"] { margin: 5px 0; }

.wrap label { position: absolute; top: auto; left: 10px; -webkit-transition: .3s all ease; -o-transition: .3s all ease; transition: .3s all ease; color: #000; }

.wrap label.up { background: #F6F6F6; font-size: .8em; top: 0; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); color: #6B7F7F; }

.card .wrap label.up, .popup .wrap label.up { background: #fff; }

.tab .wrap label.up { background: #F6F6F6; }

.label { color: #6B7F7F; font-size: .8em; }

.input { margin: 15px 0; padding: 10px; }

.cardholder { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }

.cardholder .card { -webkit-box-flex: 1; -ms-flex: 1 0 calc(100% / 4); flex: 1 0 calc(100% / 4); }

@media screen and (max-width: 1110px) { .cardholder .card { -webkit-box-flex: 1; -ms-flex: 1 0 calc(100% / 3); flex: 1 0 calc(100% / 3); } }

@media screen and (max-width: 730px) { .cardholder .card { -webkit-box-flex: 1; -ms-flex: 1 0 calc(100% / 2); flex: 1 0 calc(100% / 2); } }

@media screen and (max-width: 600px) { .cardholder .card { -webkit-box-flex: 1; -ms-flex: 1 0 calc(100% / 1); flex: 1 0 calc(100% / 1); } }

.card { padding: 10px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.card .card-content { -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1); box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1); background: #fff; padding: 10px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.cards-alt { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

.cards-alt .main { width: 66.66667%; }

.cards-alt .secondary { width: 33.33333%; }

.sidenav { width: 250px; background: #dddddd; color: black; position: fixed; top: 40px; left: 0; height: calc(100% - 40px); padding: 10px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.sidenav a, .sidenav .btn { color: black; display: block; padding: 5px; margin: 5px 0; border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.sidenav a:hover, .sidenav .btn:hover { opacity: .7; }

.has-sidenav { margin-left: 250px; }

table { width: 100%; }

table th { text-align: left; font-size: .9em; font-weight: bold; padding: 3px; }

table td { padding: 5px; background: #f2f2f2; color: black; border-top: 5px solid #fff; -webkit-transition: .3 all ease; -o-transition: .3 all ease; transition: .3 all ease; }

table td:last-of-type { border-top-right-radius: 15px; border-bottom-right-radius: 15px; padding-right: 20px; }

table td:first-of-type { border-top-left-radius: 15px; border-bottom-left-radius: 15px; padding-left: 20px; }

table tr { -webkit-transition: .3 all ease; -o-transition: .3 all ease; transition: .3 all ease; }

table tr:hover td { -webkit-transition: .3 all ease; -o-transition: .3 all ease; transition: .3 all ease; background: #e6e6e6; color: black; }

table thead { position: relative; z-index: 1; }

table thead th { padding-bottom: 5px; }

table thead:before { content: ''; width: 100%; height: calc(100% - 10px); position: absolute; bottom: 5px; left: 0; -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1); box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1); z-index: -1; }

table thead:after { content: ''; width: calc(100% + 10px); height: 100%; background: #fff; position: absolute; top: -5px; left: -5px; z-index: -1; }
