@import "toolbox/all";

$white: invert($white);
$black: invert($black);
$whiteish: invert($whiteish);
$blackish: invert($blackish);
$lightgray: invert($lightgray);
$gray: invert($gray);
$mediumgray: invert($mediumgray);
$accent-alt: invert($accent-alt);
$accent: invert($accent);

@import "base/settings";
@import "base/typography";


@import "base/reset";

@import "partials/general";
@import "partials/popup";
@import "partials/tabs";
@import "partials/inputs";

@import "partials/tobetakencareof";
