// development (do not ship this)
script(src="js/fontawesome-all.js")
script(src="js/jquery-3.1.1.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js")
script(src="node_modules/trumbowyg/dist/trumbowyg.min.js")

// script(src="js/settings.js")
// script(src="js/posts.js")
// script(src="js/pages.js")
// script(src="js/theme_options.js")
// script(src="js/edit_config.js")
// script(src="js/sidebar.js")
// script(src="js/menubuilder.js")
// script(src="js/frontend.js")

// script(src="js/popup.js")
// script(src="js/media.js")
// script(src="js/dragndrop.js")
// script(src="js/form.js")
// script(src="js/cookie.js")


script(src="js/main.min.js")

// production (compile scripts.min.js before shipping)
// script(src="/js/scripts.min.js")
