.popup.media
    h1 Images
    .content 
        img.media-file(src="img/cake.jpg")
        img.media-file(src="img/cake2.jpg")
        img.media-file(src="img/coffee-1.jpg")
        img.media-file(src="img/coffee-2.jpg")
        img.media-file(src="img/creampuff.jpg")
        img.media-file(src="img/drink.jpg")
        img.media-file(src="img/latte.jpg")
        img.media-file(src="img/layers.jpg")
