.sidenav
    nav
        a(href="dashboard.html") Dashboard
        a(href="posts.html") 
            span(lang="en") Posts
            span(lang="de") Beiträge
        a(href="pages.html") 
            span(lang="en") Pages
            span(lang="de") Seiten
        a(href="themeoptions.html")
            span(lang="en") Theme Options
            span(lang="de") Theme Optionen
        a(href="editconfig.html")
            span(lang="en") Configuration
            span(lang="de") Konfiguration
        //- a(href="sidebar.html") Sidebar
        //- a(href="navigation.html") Navigation
