.sidenav
    nav
        a(href="dashboard.html") Dashboard
        a(href="posts.html") 
            span(lang="en") Posts
            span(lang="de") Beiträge
        a(href="pages.html") 
            span(lang="en") Pages
            span(lang="de") Seiten
        a(href="themeoptions.html")
            span(lang="en") Theme Options
            span(lang="de") Theme Optionen
        a(href="editconfig.html")
            span(lang="en") Configuration
            span(lang="de") Konfiguration
        a(href="sidebar.html") Sidebar
        a(href="navigation.html") Navigation
    nav(style="margin-top: 20px; padding-top: 20px; border-top: 2px solid currentColor;")
        a(href="prev-index.html") Live Preview
        a(href="#").live
            span(lang="en") Go to Website
            span(lang="de") Website öffnen
        a(href="#" data-togglepopup="sitesettings").site 
            span(lang="en") Site Settings
            span(lang="de") Seiteneinstellungen
        a(href="#" data-togglepopup="appsettings").app 
            span(lang="en") App Settings
            span(lang="de") App Einstellungen
