.tabholder{
    margin: 20px 0;
    @include flexbox(row, wrap, flex-start, center);
    p{
        width: 100%;
    }
    > label{
        background: $tab-inactive-bg;
        color: black-or-white($tab-inactive-bg);
        width: auto;
        padding: 5px 10px;
        cursor: pointer;
        transition: .3s all ease;
        &:hover{
            background: $tab-hover-bg;
            color: black-or-white($tab-hover-bg);
        }
    }
    input[type=radio] {
	       opacity: 0;
           position: absolute;
           left: -9999px;
    }
    .tab{
        background: $tab-area-active-bg;
        color: black-or-white($tab-area-active-bg);
        padding: 15px;
        width: 100%;
        transition: .3s all ease;
    }

    .wrap{
        label.up{
            background: $tab-area-active-bg;
        }
    }

    #ftp{
        &:checked{
            + label {
                background: $tab-area-active-bg;
            }
            ~ .tab.ftp{
                display: block;
            }
        }
        ~ .tab.ftp{
            display: none;
        }
    }
    #github{
        &:checked{
            + label {
                background: $tab-area-active-bg;
            }
            ~ .tab.github{
                display: block;
            }
        }
        ~ .tab.github{
            display: none;
        }
    }

    #WYSIWYG{
        &:checked{
            +label{
                background: $tab-area-active-bg;
            }
            ~ .tab.WYSIWYG{
                display: block;
            }
        }
        ~ .tab.markdown,
        ~ .tab.HTML{
            display: none;
        }
    }
    #markdown{
        &:checked{
            +label{
                background: $tab-area-active-bg;
            }
            ~ .tab.markdown{
                display: block;
            }
        }
        ~ .tab.WYSIWYG,
        ~ .tab.HTML{
            display: none;
        }
    }
    #HTML{
        &:checked{
            +label{
                background: $tab-area-active-bg;
            }
            ~ .tab.HTML{
                display: block;
            }
        }
        ~ .tab.WYSIWYG,
        ~ .tab.markdown{
            display: none;
        }
    }
}
