.slides {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 300px;
}
.slide {
    padding: 15px;
    background-color: #2F2F2F;
    margin: 0 0 15px;
    text-align: center;
    color: #FFF;
    border: 2px solid #444;
}

.slide-placeholder {
	background: #DADADA;
	position: relative;
}
.slide-placeholder:after {
	content: " ";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 15px;
	background-color: #FFF;
}

.slide2 {
    height: 30px;
}
.slide3 {
    height: 50px;
}
.slide4 {
    height: 90px;
}
.slide5 {
    height: 35px;
}


body {}

.main-container {}

.wrapper {
    border: 1px solid #ddd;
    width: 87%;
    margin: 0px auto;
    height: 230px;
    margin-top: 4%;
}

.tb-head {
    border-bottom: 1px solid #ddd;
    background-color: #53892f;
    padding: 3%;
}

.clear {
    clear: both;
}

.target {
    // float: left;
    margin-left: 4%;
    color: white;
}

.user1 {
    // float: left;
    margin-left: 16%;
    color: white;
}

.user2 {
    // float: left;
    margin-left: 18%;
    color: white;
}

.user3 {
    // float: left;
    margin-left: 15%;
    color: white;
}

.user4 {
    // float: left;
    margin-left: 16%;
    color: white;
}

.tb-body {
    width: 100%;
    text-align: center;
}

.tb-body .inner-target {
    height: 141px;
    color: #1990CC !important;
    ;
    border-right: 1px solid #ddd;
    // float: left;
    width: 17.7%;
    border-bottom: 1px solid #ddd;
    padding: 1%;
}

.tb-body .inner-user1 {
    height: 141px;
    color: #1990CC !important;
    // float: left;
    width: 17.8%;
    border-right: 1px solid #ddd;
    padding: 1%;
    border-bottom: 1px solid #ddd;
}

.tb-body .inner-user2 {
    height: 141px;
    color: #1990CC !important;
    // float: left;
    width: 17.7%;
    border-right: 1px solid #ddd;
    padding: 1%;
    border-bottom: 1px solid #ddd;
}

.tb-body .inner-user3 {
    height: 141px;
    color: #1990CC !important;
    // float: left;
    width: 17.8%;
    border-right: 1px solid #ddd;
    padding: 1%;
    border-bottom: 1px solid #ddd;
}

.tb-body .inner-user4 {
    height: 141px;
    color: #1990CC !important;
    // float: left;
    width: 17.7%;
    border-right: none;
    padding: 1%;
    border-bottom: 1px solid #ddd;
}

.dragable {
    border: 1px solid;
    margin-bottom: 12px;
}

.droppable {
    width: 100%;
    height: inherit;
    min-height: 30px;
    padding: 30px;
    background: red;
}


body.navigation{
    .card{
        width: 100% !important;
    }
}

.preview-open{
    max-width: 60vw;
    margin-right: 40vw;

    .preview-frame{
        position: fixed;
        top: 0;
        right: 0;
        width: 40vw;
        height: 100%;
        border-left: 5px solid black;

        iframe{
            width: 100%;
            height: 100%;
        }
    }
}
