extends layout.pug

block vars
    - var page = { title: "Dashboard", subtitle: "Test", author: "author", description: "description", tags: ["tag1", "tag2", "tag3"] }
block content
    .middle
        h1 Dashboard
        .cardholder
            .card
                .card-content
                    h2 
                        span(lang="en") Content Creation
                        span(lang="de") Inhalte Erfassen
                    a.btn(href="newpost.html")
                        span(lang="en") Create New Page
                        span(lang="de") Neue Seite erstellen
                    a.btn(href="newpost.html")
                        span(lang="en") Create New Post
                        span(lang="de") Neuen Beitrag erstellen
            .card
                .card-content
                    h2 
                        span(lang="en") Site Setup
                        span(lang="de") Setup
                    a.btn(href="themeoptions.html")
                        span(lang="en") Theme Options
                        span(lang="de") Theme Optionen
                    a.btn(href="editconfig.html")
                        span(lang="en") Configuration
                        span(lang="de") Konfiguration
            .card
                .card-content
                    h2 
                        span(lang="en") Live Page
                        span(lang="de") Live Seite
                    a.btn(href="#")
                        span(lang="en") Open Preview
                        span(lang="de") Vorschau öffnen
                    a.btn(href="#").publishsite
                        span(lang="en") Publish Site
                        span(lang="de") Seite veröffentlichen

block additional
    
