extends layout.pug

block vars
    - var page = { title: "Posts", subtitle: "Test", author: "author", description: "description", tags: ["tag1", "tag2", "tag3"] }
    include includes/postlist.pug

block content
    .middle
        h1 Navigation
        .cardholder
            .card
                .card-content
                    span Bla
