extends layout.pug

block vars
    - var page = { title: "Posts", subtitle: "Test", author: "author", description: "description", tags: ["tag1", "tag2", "tag3"] }

block content
    .middle
        h1
            span(lang="en") New Post
            span(lang="de") Neuer Beitrag
    .cards-alt
        .main
            .card
                .card-content
                    form
                        .wrap
                            label(for="create-title")
                                span(lang="en") Title
                                span(lang="de") Titel
                            input(type="text" name="create-title" id="create-title")
                        .wrap
                            label(for="create-content-html")
                                span(lang="en") Content
                                span(lang="de") Inhalt
                            textarea(type="text" name="create-content-html" id="create-content-html")
        .secondary
            .card
                .card-content
                    h2 Meta
                    .wrap
                        label(for="create-description")
                            span(lang="en") Meta Description
                            span(lang="de") Meta Beschreibung
                        input(type="text" name="create-description" id="create-description")
                    .wrap
                        label(for="create-date").up
                            span(lang="en") Date
                            span(lang="de") Datum
                        input(type="date" name="create-date" id="create-date")
                    div.radio.input
                        .label Layout
                        input(type="radio" name="create-layout" id="full" value="full")
                        label(for="full")
                            span(lang="en") No Sidebar
                            span(lang="de") Keine Sidebar
                        br
                        input(type="radio" name="create-layout" id="left" value="left")
                        label(for="left")
                            span(lang="en") Sidebar Left
                            span(lang="de") Sidebar Links
                        br
                        input(type="radio" name="create-layout" id="right" value="right")
                        label(for="right")
                            span(lang="en") Sidebar Right
                            span(lang="de") Sidebar Rechts
                    .wrap
                        label(for="create-featimg") Featured Image
                        .feat-img(style="padding: 10px;")
                        input(type="file" name="create-featimg" id="create-featimg")
                    .wrap
                        label(for="create-tags") Tags
                        input(type="text" name="create-tags" id="create-tags")
            .card
                .card-content
                    h2 Includes
    a.btn(href="posts.html").publishpost
        span(lang="en") Publish
        span(lang="de") Publizieren
    a.btn(href="posts.html").savepostdraft
        span(lang="en") Save Draft
        span(lang="de") Entwurf speichern
    a.btn(href="posts.html").cancel
        span(lang="en") Cancel
        span(lang="de") Abbrechen
