extends layout.pug

block vars
    - var page = { title: "Pages" }
    include includes/postlist.pug

block content
    .middle
        h1
            span(lang="en") Pages
            span(lang="de") Seiten
        a.btn(href="newpage.html")
            span(lang="en") Create New Page
            span(lang="de") Neue Seite erstellen
        .cardholder
            .card
                .card-content
                    table
                        thead
                            tr
                                th ID
                                th Title
                                th Status
                                th Actions
                        tbody
