extends layout.pug

block vars
    - var page = { title: "Posts", subtitle: "Test", author: "author", description: "description", tags: ["tag1", "tag2", "tag3"] }

block content
    .middle
        h1
            span(lang="en") Posts
            span(lang="de") Beiträge
        a.btn(href="newpost.html")
            span(lang="en") Create New Post
            span(lang="de") Neuen Post erstellen
        .cardholder
            .card
                .card-content
                    table
                        thead
                            tr
                                th ID
                                th Title
                                th Tags
                                th Date
                                th Status
                                th Actions
                        tbody
