extends layout.pug

block vars
    - var page = { title: "Posts", subtitle: "Test", author: "author", description: "description", tags: ["tag1", "tag2", "tag3"] }
    include includes/postlist.pug

block content
    .middle
        h1 Sidebar
        .cardholder
            .card
                .card-content
                    h2 
                        span(lang="en") Available Widgets
                        span(lang="de") Verfügbare Widgets
                    .widgets
                        .widget.html.dragable 
                            h3 Text <span class="title"></span>
                            span.edit
                                i.fas.fa-edit 
                            span.delete 
                                i.fas.fa-trash-alt 
                            .widget-config
                                .wrap
                                    label(for="edit-title-html-widget")
                                        span(lang="en") Title
                                        span(lang="de") Titel
                                    input(type="text" name="edit-title-html-widget" id="edit-title-html-widget")
                                .wrap
                                    label(for="edit-content-html-widget") HTML
                                    textarea(type="text" name="edit-content-html-widget" id="edit-content-html-widget")
                                span.btn.savesidebar
                                    span(lang="en") Save
                                    span(lang="de") Speichern
                        .widget.fb.dragable
                            h3 
                                span(lang="en") Facebook Page
                                span(lang="de") Facebook Seite
                                span.title
                            span.edit
                                i.fas.fa-edit 
                            span.delete 
                                i.fas.fa-trash-alt 
                            .widget-config
                                .wrap
                                    label(for="fb-widget-title")
                                        span(lang="en") Title
                                        span(lang="de") Titel
                                    input(type="text" name="fb-widget-title" id="fb-widget-title")
                                .wrap
                                    label(for="fb-url") URL
                                    input(type="url" name="fb-url" id="fb-url")
                                        //- | <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div>
                                span.btn.savesidebar
                                    span(lang="en") Apply
                                    span(lang="de") Speichern            
            .card
                .card-content
                    h2 Sidebar
                    .areas.sidebar-areas
                        .area.area1
                            .placeholder
                                span(lang="en") Drag Widget into Area to Add to Sidebar 1
                                span(lang="de") Ziehe Widgets in diesen Bereich um hinzuzufügen

block additional
    #fb-root
    script (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));
