-
  var movieList = [
    {
      title: "Ocean's Eleven",
      rating: 9.2
    }, {
      title: "Pirates of the Caribbean",
      rating: 9.7
    }
  ];

mixin movie-card(movie)
  h2.movie-title= movie.title
  div.rating
    p= movie.rating

for movie in movieList
  +movie-card(movie)
