extends layout.pug

block vars
    - var page = { title: "Posts", subtitle: "Test", author: "author", description: "description", tags: ["tag1", "tag2", "tag3"] }
    include includes/postlist.pug

block content
    //- mixin post-card(post)
    //-     .card
    //-         .card-content
    //-             h2.movie-title= post.title
    //- for post in postList
    //-     +post-card(post)
    .middle
        h1
            span(lang="en") Theme Options
            span(lang="de") Theme Optionen
        .cardholder
            .card
                .card-content
                    span Bla
