// TOOLBOX COLORS
//---------------------------------------------------------------------

$white: #fff;
$black: #000;

$whiteish: #FDFDFD;
$blackish: #202020;

$lightgray: #F6F6F6;
$gray: darken($lightgray, 10%);
$mediumgray: darken($lightgray, 30%);

$accent-alt: #6B7F7F;
$accent: #447F7E;
